<!doctype html>
<html lang="en">

{% load static %}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Itim&display=swap" rel="stylesheet">
    {% csrf_token %}

    {% block style %}
    {% endblock%}
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-body-secondary border-bottom border-2 border-dark">
        <div class="container-fluid">
            <div class="d-flex w-100 justify-content-between align-items-center">
                <a class="navbar-brand" href="{% url 'index' %}">ASKME</a>
    
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="col-7 d-flex flex-row gap-2">
                    <div class="w-100">
                        <form role="search">
                            <input class=" form-control me-3" type="search" placeholder="Search" aria-label="Search">
                        </form>
                    </div>
                   {% if request.user.is_authenticated %}
                        <a href="{% url 'ask' %}" class="btn btn-outline-success">Ask</a>
                   {% else %}
                        <a href="{% url 'login' %}?continue={% url 'ask' %}" class="btn btn-outline-success">Ask</a>
                   {% endif %}
                </div>


                {% if user.is_authenticated %}
                <div class="d-flex gap-1">
                    <div class="me-2" style="height: 60px; width: auto">
                        <img src="{{ user.profile.avatar.url }}" alt="Avatar" class=" rounded-1 img-fluid h-100 w-100 object-fit-cover">
                    </div>
                    <div>
                        <div>
                            {{ user.username }}
                        </div>
                        <a href="{% url 'settings' %}">Settings</a>
                        <a href="{% url 'logout' %}">Logout</a>
                    </div>
                </div>
                {% else %}
                <div class="d-flex flex-row gap-3">
                    <a href="{% url 'login' %}?continue={{ request.get_full_path }}">Login</a>
                    <a href="{% url 'signup' %}">Register</a>
                </div>
                {% endif %}
            </div>
        </div>
    </nav>
    <main class="container mt-3">
        {% block page_header %}
        {% endblock %}
        <div class="row gx-5">
            <div class="col-8">
                {% block content %}
                {% endblock %}
            </div>
            <div class="col-4">
                <section class="mb-3">
                    <h2>Popular Tags</h2>
                    <div class="fs-5 fw-normal">
                        {% for tag in tags %}
                        <a href="{% url 'tag' tag.id %}" class="badge tag-badge mb-2 me-2 p-2">{{ tag.name }}</a>
                        {% endfor %}
                    </div>
                </section>

                <section>
                    <h2>Best members</h2>
                    <div>
                        <ul class="list-group list-group-flush">
                            {% for profile in top_user_profiles %}
                            <li class="list-group-item"><a href="#">{{ profile.user.username }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </section>
            </div>
        </div>
    </main>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}" type="module"></script>
</body>
</html>
