{% load static %}

<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Itim&display=swap" rel="stylesheet">
    <script src="{% static 'js/random_tag_color.js' %}" defer></script>

    {% block style %}
    {% endblock%}
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-body-secondary border-bottom border-2 border-dark">
        <div class="container-fluid">
            <div class="d-flex w-100 justify-content-between align-items-center">
                <a class="navbar-brand" href="{% url 'index' %}">ASKME</a>
    
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
    
                <form class="col-7 d-flex" role="search">
                    <input class=" form-control me-3" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Ask</button>
                </form>
                {% block navbar %}
                {% endblock %}
            </div>
        </div>
    </nav>
    <main class="container mt-3">
        {% block page_header %}
        {% endblock %}
        <div class="row gx-5">
            <div class="col-8">
                {% block content %}
                {% endblock %}
            </div>
            <div class="col-4">
                <section class="mb-3">
                    <h2>Popular Tags</h2>
                    <div class="fs-5 fw-normal">
                        {% for tag in tags %}
                        <a href="{% url 'tag' tag.id %}" class="badge tag-badge mb-2 me-2 p-2">{{ tag.name }}</a>
                        {% endfor %}
                    </div>
                </section>

                <section>
                    <h2>Best members</h2>
                    <div>
                        <ul class="list-group list-group-flush">
                            {% for profile in top_user_profiles %}
                            <li class="list-group-item"><a href="#">{{ profile.user.username }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </section>
            </div>
        </div>
    </main>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>
