{% extends 'layouts/base.html' %}
{% load bootstrap5 %}

{% block style%}
<style>
    .badge {
        text-decoration: none;
        font-weight: normal;
    }
</style>
{% endblock %}

{% block page_header %}
<div class="d-flex gap-3 mb-3 align-items-center">
    <h1>New Question</h1>
</div>
{% endblock %}

{% block content %}
<form method="POST">
    {% csrf_token %}
    <div class="mb-3 row">
      <div class="col-sm-11">
          {% bootstrap_form form %}
      </div>
    </div>

    {% buttons %}
    <button class="btn btn-outline-success" type="submit">Publish</button>
    {% endbuttons %}
</form>

<!--<div class="col mb-3">-->
<!--    <h5 class="card-title mb-2">Title</h5>-->
<!--    <input class="form-control" type="text" placeholder="Enter title for your question" aria-label="question title">-->
<!--</div>-->

<!--<div class="col mb-3">-->
<!--    <h5 class="card-text mb-2">Content</h5>-->
<!--    <div class="form-floating p-0">-->
<!--        <textarea class="form-control" placeholder="Leave your text here" style="height: 200px"></textarea>-->
<!--    </div>-->
<!--</div>-->

<!--<div class="col mb-3">-->
<!--    <h5 class="card-tags mb-2">Tags</h5>-->
<!--    <input class="form-control" type="text" placeholder="Enter tags for your question" aria-label="question tags">-->
<!--</div>-->

<!--<button type="button" class="col btn btn-outline-success">Publish</button>-->
{% endblock %}