{% extends 'base.html' %}

{% block style%}
<style>
    .badge {
        text-decoration: none;
        font-weight: normal;
    }
</style>
{% endblock %}

{% block navbar %}
<div class="d-flex flex-row gap-3">
    <a href="#">Login</a>
    <a href="#">Register</a>
</div>
{% endblock %}

{% block page_header %}
<div class="d-flex gap-3 mb-3 align-items-center">
    <h1>New Question</h1>
</div>
{% endblock %}

{% block content %}
<div class="col mb-3">
    <h5 class="card-title mb-2">Title</h5>
    <input class="form-control" type="text" placeholder="Enter title for your question" aria-label="question title">
</div>

<div class="col mb-3">
    <h5 class="card-text mb-2">Text</h5>
    <div class="form-floating p-0">
        <textarea class="form-control" placeholder="Leave your text here" id="floatingTextarea2" style="height: 200px"></textarea>
        <label for="floatingTextarea2">Description</label>
    </div>
</div>

<div class="col mb-3">
    <h5 class="card-tags mb-2">Tags</h5>
    <input class="form-control" type="text" placeholder="Enter tags for your question" aria-label="question tags">
</div>

<button type="button" class="col btn btn-outline-success">Publish</button>
{% endblock %}