{% extends 'layouts/base.html' %}

{% block style%}
<style>
    .badge {
        text-decoration: none;
        font-weight: normal;
    }
</style>
{% endblock %}

{% block navbar %}
<div class="d-flex flex-row gap-3">
    <a href="{% url 'login' %}">Login</a>
    <a href="{% url 'signup' %}">Register</a>
</div>
{% endblock %}

{% block page_header %}
<div class="d-flex gap-3 mb-3 align-items-center">
    <h1>Hot Questions</h1>
</div>
{% endblock %}

{% block content %}
{% include 'components/questions.html' with questions=page_obj %}
{% include 'components/pagination.html' with page_obj=page_obj %}
{% endblock %}