{% extends 'layouts/base.html' %}

{% block style%}
<style>
    .badge {
        text-decoration: none;
        font-weight: normal;
    }
</style>
{% endblock %}


{% block page_header %}
<div class="d-flex gap-3 mb-3 align-items-center">
    <h1>New Questions</h1>
    <a href="{% url 'hot' %}">Hot Questions</a>
</div>
{% endblock %}

{% block content %}
    {% include 'components/questions.html' with questions=page_obj %}
    {% include 'components/pagination.html' with page_obj=page_obj %}
{% endblock %}