{% extends 'layouts/base.html' %}

{% block style%}
<style>
    .badge {
        text-decoration: none;
        font-weight: normal;
    }

    .form-label {
        font-size: 1.1rem;
        font-weight: 500;
    }

    .avatar-container {
        width: 150px;
        height: 150px;
    }
</style>
{% endblock %}

{% block navbar %}
<div class="d-flex flex-row gap-3">
    <a href="{% url 'login' %}">Login</a>
    <a href="{% url 'signup' %}">Register</a>
</div>
{% endblock %}

{% block page_header %}
<div class="d-flex gap-3 mb-3 align-items-center">
    <h1>Log in</h1>
</div>
{% endblock %}

{% block content %}
<form>
    <div class="mb-3 row">
       <p class="fs-4 text-danger wrong-creds">Sorry, wrong password!</p>
    </div>

    <div class="mb-3 row">
        <label for="login" class="col-sm-3 col-form-label form-label">Login</label>
        <div class="col-sm-9">
            <input type="text" class="form-control" id="login" placeholder="Enter your login">
        </div>
    </div>

    <div class="mb-3 row">
        <label for="password" class="col-sm-3 col-form-label form-label">Password</label>
        <div class="col-sm-9">
            <input type="password" class="form-control" id="password" placeholder="Enter your password">
        </div>
    </div>

    <div class="mb-5 row">
        <div class="col-sm-9 offset-sm-3">
            <button type="submit" class="btn btn-outline-success">Log in!</button>
        </div>
    </div>
    
    <div class="row">
        <div class="col-sm-9 offset-sm-3 fs-5">
            <a href="{% url 'signup' %}">Create an account</a>
        </div>
    </div>
</form>
{% endblock %}