{% extends 'layouts/base.html' %}
{% load bootstrap5 %}

{% block style%}
<style>
    .badge {
        text-decoration: none;
        font-weight: normal;
    }

    .form-label {
        font-size: 1.1rem;
        font-weight: 500;
    }

    .avatar-container {
        width: 150px;
        height: 150px;
    }
</style>
{% endblock %}


{% block page_header %}
<div class="d-flex gap-3 mb-3 align-items-center">
    <h1>Log in</h1>
</div>
{% endblock %}

{% block content %}
<form method="POST">
    {% csrf_token %}
    <div class="mb-3 row">
        <div class="col-sm-9">
            {% bootstrap_form form %}

            {%  buttons %}
                <button type="submit" class="btn btn-outline-success">Log in!</button>
            {% endbuttons %}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-9 offset-sm-3 fs-5">
            <a href="{% url 'signup' %}">Create an account</a>
        </div>
    </div>
</form>
{% endblock %}