{% extends 'layouts/base.html' %}
{% load bootstrap5 %}

{% load static %}

{% block style%}
<style>
 .badge {
    text-decoration: none;
    font-weight: normal;
}

.form-check-input {
    width: 25px; 
    height: 25px;
}
</style>
<link rel="stylesheet" href="{% static 'css/like_button.css' %}">
{% endblock %}


{% block content %}
<div class="d-flex flex-column gap-3 mb-5">
    <div class="card border-0 w-100 rounded-0 pb-2 border-bottom border-2 border-dark" style="width: 18rem;">
        <div class="card-body">
            <div class="row">
                <div class="col-2">
                    <div class="mb-2" style="height: 130px">
                        <img src="{{ question.author.profile.avatar.url }}" alt="Avatar" class=" rounded-1 img-fluid h-100 w-100 object-fit-cover">
                    </div>
                    <input class="form-control" type="number" value="{{ question.like_count }}" placeholder="Default input"
                        aria-label="default input example" readonly>
                </div>
                <div class="col-10">
                    <h5 class="card-title fs-3">{{ question.title }}</h5>
                    <p class="card-text">{{ question.content }}</p>
                    <div class="d-flex gap-2">
                        Tags:
                        {% for tag in question.tags.all %}
                            <a href="{% url 'tag' tag.id %}" class="card-link">{{ tag.name }}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% if page_obj %}
    <div class="answers d-flex flex-column gap-3 rounded-0 pb-3 border-bottom border-2 border-dark">
        {% for answer in page_obj %}
        <div class="card w-100" id="answer-{{ answer.pk }}" style="width: 18rem;">
            <div class="card-body">
                <div class="row">
                    <div class="col-2">
                        <div class="mb-2" style="height: 130px">
                            <img src="{{ answer.author.profile.avatar.url }}" alt="Avatar" class=" rounded-1 img-fluid h-100 w-100 object-fit-cover">
                        </div>
                        <input class="form-control" type="number" value="{{ answer.like_count }}" placeholder="Default input"
                            aria-label="default input example" readonly>
                    </div>

                    <div class="col-10">
                        <p class="card-text">{{ answer.content }}</p>
                        <div class="d-flex align-items-center form-check gap-3">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                It helped!
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        {% include 'components/pagination.html' with page_obj=page_obj %}
    </div>
    {% endif%}

<!--    <div class="form-floating p-0 pt-3">-->
<!--        <textarea class="form-control mb-3" placeholder="Leave your answer here" id="floatingTextarea2" style="height: 200px"></textarea>-->
<!--        <label for="floatingTextarea2">Answer</label>-->
<!--        <button type="submit" class="col btn btn-outline-success">Answer</button>-->
<!--    </div>-->

    <form method="POST">
        {% csrf_token %}
        <div class="form-floating p-0 pt-3">

            {% bootstrap_form form %}

            {%  buttons %}

            <div class="row-3 gap-3">
                <button type="submit" class="col btn btn-outline-success">Answer</button>
            </div>
            {%  endbuttons %}

        </div>
    </form>

</div>
{% endblock %}