{% extends 'base.html' %}

{% block style%}
<style>
 .badge {
    text-decoration: none;
    font-weight: normal;
}

.form-check-input {
    width: 25px; 
    height: 25px;
}
</style>
{% endblock %}

{% block navbar %}
<div class="d-flex flex-row gap-3">
    <a href="#">Login</a>
    <a href="#">Register</a>
</div>
{% endblock %}

{% block content %}
<!-- <div class="d-flex flex-column gap-3 mb-5">
    <div class="card border-0 w-100 border-bottom border-2 border-dark rounded-0 pb-3" style="width: 18rem;">
        <div class="card-body">
            <div class="row">
                <div class="col-3">
                    <div class="border mb-2" style="height: 100px">
                        <img src="jpg.jpg" alt="Avatar" class="img-fluid">
                    </div>
                    <input class="form-control" type="number" value="5" placeholder="Default input"
                        aria-label="default input example">

                </div>
                <div class="col-9">

                    <h5 class="card-title">How to use SSH?</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                         labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                          laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                           in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                    <div class="d-flex gap-2">
                        Tags:

                        <a href="#" class="card-link">Another link</a>
                        <a href="#" class="card-link">Another link</a>
                        <a href="#" class="card-link">Another link</a>
                        <a href="#" class="card-link">Another link</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="answers d-flex flex-column gap-3 border-bottom border-2 border-dark rounded-0  pb-3">
        <div class="card w-100" style="width: 18rem;">
            <div class="card-body">
                <div class="row">
                    <div class="col-3">
                        <div class="border mb-2" style="height: 100px">
                            <img src="jpg.jpg" alt="Avatar" class="img-fluid">
                        </div>
                        <input class="form-control" type="number" value="5" placeholder="Default input"
                            aria-label="default input example">

                    </div>
                    <div class="col-9">
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vestibulum sagittis enim,
                             ut vestibulum tellus tincidunt dignissim. Morbi dolor orci, dignissim eu risus in, gravida egestas justo.
                             Duis at facilisis augue, in maximus lectus. Maecenas eu nunc eros.
                              In in augue egestas, posuere ante ut, auctor augue.
                        </p>

                        <div class="d-flex align-items-center form-check gap-3">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                It helped!
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card w-100" style="width: 18rem;">
            <div class="card-body">
                <div class="row">
                    <div class="col-3">
                        <div class="border mb-2" style="height: 100px">
                            <img src="jpg.jpg" alt="Avatar" class="img-fluid">
                        </div>
                        <input class="form-control" type="number" value="5" placeholder="Default input"
                            aria-label="default input example">

                    </div>
                    <div class="col-9">
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vestibulum sagittis enim,
                            ut vestibulum tellus tincidunt dignissim. Morbi dolor orci, dignissim eu risus in, gravida egestas justo.
                            Duis at facilisis augue, in maximus lectus. Maecenas eu nunc eros.
                             In in augue egestas, posuere ante ut, auctor augue.
                        </p>

                        <div class="d-flex align-items-center form-check gap-3">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                It helped!
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-floating p-0">
        <textarea class="form-control mb-3" placeholder="Leave your answer here" id="floatingTextarea2" style="height: 200px"></textarea>
        <label for="floatingTextarea2">Answer</label>
        <button type="submit" class="col btn btn-outline-success">Answer</button>
    </div>
</div> -->
<div class="d-flex flex-column gap-3 mb-5">
    <div class="card border-0 w-100 border-bottom border-2 border-dark rounded-0 pb-3" style="width: 18rem;">
        <div class="card-body">
            <div class="row">
                <div class="col-2">
                    <div class="mb-2" style="height: 130px">
                        <img src="{{ question.user.avatar }}" alt="Avatar" class=" rounded-1 img-fluid h-100 w-100 object-fit-cover">
                    </div>
                    <input class="form-control" type="number" value="{{ question.user.reputation }}" placeholder="Default input"
                        aria-label="default input example">
                </div>
                <div class="col-10">
                    <h5 class="card-title">{{ question.title }}</h5>
                    <p class="card-text">{{ question.description }}</p>
                    <div class="d-flex gap-2">
                        Tags:
                        {% for tag in question.tags %}
                            <a href="#" class="card-link">{{ tag.name }}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="answers d-flex flex-column gap-3 border-bottom border-2 border-dark rounded-0 pb-3">
        {% for answer in question.answers %}
        <div class="card w-100" style="width: 18rem;">
            <div class="card-body">
                <div class="row">
                    <div class="col-2">
                        <div class="mb-2" style="height: 130px">
                            <img src="{{ answer.user.avatar }}" alt="Avatar" class=" rounded-1 img-fluid h-100 w-100 object-fit-cover">
                        </div>
                        <input class="form-control" type="number" value="{{ answer.user.reputation }}" placeholder="Default input"
                            aria-label="default input example">
                    </div>

                    <div class="col-10">
                        <p class="card-text">{{ answer.content }}</p>
                        <div class="d-flex align-items-center form-check gap-3">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                It helped!
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="form-floating p-0">
        <textarea class="form-control mb-3" placeholder="Leave your answer here" id="floatingTextarea2" style="height: 200px"></textarea>
        <label for="floatingTextarea2">Answer</label>
        <button type="submit" class="col btn btn-outline-success">Answer</button>
    </div>
</div>
{% endblock %}