{% extends 'layouts/base.html' %}
{% load bootstrap5 %}
{% load static %}

{% block style%}
<style>
    .badge {
        text-decoration: none;
        font-weight: normal;
    }

    .form-label {
        font-size: 1.1rem;
        font-weight: 500;
    }

    .avatar-container {
        width: 150px;
        height: 150px;
    }
</style>
{% endblock %}


{% block page_header %}
<div class="d-flex gap-3 mb-3 align-items-center">
    <h1>Settings: {{ user.username}}</h1>
</div>
{% endblock %}

{% block content %}
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="mb-3 row">
        <div class="col-sm-9">
          {% bootstrap_form form %}

          <img src="{{ user.profile.avatar.url }}" alt="Avatar" class="mb-3 rounded-1 img-fluid object-fit-cover" style="width: 150px; height: 150px;">

          {% buttons %}

          <button class="btn btn-outline-success" type="submit">Save</button>

          {% endbuttons %}
        </div>
    </div>
</form>
{% endblock %}