<!-- <!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Itim&display=swap" rel="stylesheet">

    <style>
        .badge {
            text-decoration: none;
            font-weight: normal;
        }

        .form-label {
            font-size: 1.1rem;
            font-weight: 500;
        }

        .avatar-container {
            width: 150px;
            height: 150px;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-body-secondary border-bottom border-2 border-dark">
        <div class="container-fluid">
            <div class="d-flex w-100 justify-content-between align-items-center">
                <a class="navbar-brand" href="#">ASKME</a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <form class="col-7 d-flex" role="search">
                    <input class=" form-control me-3" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Ask</button>
                </form>

                <div class="d-flex gap-1">
                    <img src="asda.jpg" alt="Avatar" class="img-thumbnail">
                    <div>
                        <div>
                            Valery Nagapetyan
                        </div>
                        <a href="#">Settings</a>
                        <a href="#">Logout</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <main class="container mt-3">
        <div class="d-flex gap-3 mb-3 align-items-center">
            <h1>Settings: Valery Nagapetyan</h1>
        </div>

        <div class="row gx-5">
            <div class="col-8">
                <form>

                    <div class="mb-3 row">
                        <label for="login" class="col-sm-3 col-form-label form-label">Login</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="login" placeholder="Enter your login">
                        </div>
                    </div>

                    <div class="mb-3 row">
                        <label for="email" class="col-sm-3 col-form-label form-label">Email</label>
                        <div class="col-sm-9">
                            <input type="email" class="form-control" id="email" placeholder="Enter your email">
                        </div>
                    </div>
            
                    <div class="mb-3 row">
                        <label for="nickName" class="col-sm-3 col-form-label form-label">NickName</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="nickName" placeholder="Enter your NickName">
                        </div>
                    </div>
            
                    <div class="mb-3 row">
                        <label for="avatar" class="col-sm-3 col-form-label form-label">Upload avatar</label>
                        <div class="col-sm-9">
                            <div class="avatar-container border mb-2 w-25" >
                                <img src="jpg.jpg" alt="Avatar" class="img-fluid">
                            </div>
                            <input class="form-control" type="file" id="avatar">
                        </div>
                    </div>
            
                    <div class="row">
                        <div class="col-sm-9 offset-sm-3">
                            <button type="submit" class="btn btn-outline-success">Save</button>
                        </div>
                    </div>
                </form>
            </div>

            <div class="col-4">
                <section class="mb-3">
                    <h2>Popular Tags</h2>
                    <div class="fs-5 fw-normal">
                        <a href="#" class="badge text-bg-secondary  mb-2 me-2 p-2">Django</a>
                        <a href="#" class="badge text-bg-primary mb-2 me-2 p-2">Python</a>
                        <a href="#" class="badge text-bg-success mb-2 me-2 p-2">Java</a>
                        <a href="#" class="badge text-bg-danger  mb-2 me-2 p-2">PostgreSQL</a>
                        <a href="#" class="badge text-bg-warning  mb-2 me-2 p-2">Golang</a>
                        <a href="#" class="badge text-bg-info  mb-2 me-2 p-2">Algorithms</a>
                        <a href="#" class="badge text-bg-success  mb-2 me-2 p-2">MongoDB</a>
                        <a href="#" class="badge text-bg-dark  mb-2 me-2 p-2">VS Code</a>
                    </div>
                </section>

                <section>
                    <h2>Best members</h2>
                    <div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><a href="#">Member</a></li>
                            <li class="list-group-item"><a href="#">Member</a></li>
                            <li class="list-group-item"><a href="#">Member</a></li>
                            <li class="list-group-item"><a href="#">Member</a></li>
                            <li class="list-group-item"><a href="#">Member</a></li>
                        </ul>
                    </div>
                </section>

            </div>

        </div>
    </main>
    <script src="../static/js/bootstrap.min.js"></script>
</body>

</html> -->

{% extends 'base.html' %}

{% block style%}
<style>
    .badge {
        text-decoration: none;
        font-weight: normal;
    }

    .form-label {
        font-size: 1.1rem;
        font-weight: 500;
    }

    .avatar-container {
        width: 150px;
        height: 150px;
    }
</style>
{% endblock %}

{% block navbar %}
<div class="d-flex gap-1">
    <div class="me-2" style="height: 60px; width: auto">
        <img src="{{ auth_user.avatar }}" alt="Avatar" class=" rounded-1 img-fluid h-100 w-100 object-fit-cover">
    </div>
    <div>
        <div>
            {{ auth_user.username }}
        </div>
        <a href="#">Settings</a>
        <a href="#">Logout</a>
    </div>
</div>
{% endblock %}

{% block page_header %}
<div class="d-flex gap-3 mb-3 align-items-center">
    <h1>Settings: {{ auth_user.username}}</h1>
</div>
{% endblock %}

{% block content %}
<form>

    <div class="mb-3 row">
        <label for="login" class="col-sm-3 col-form-label form-label">Login</label>
        <div class="col-sm-9">
            <input type="text" class="form-control" id="login" placeholder="Enter your login">
        </div>
    </div>

    <div class="mb-3 row">
        <label for="email" class="col-sm-3 col-form-label form-label">Email</label>
        <div class="col-sm-9">
            <input type="email" class="form-control" id="email" placeholder="Enter your email">
        </div>
    </div>

    <div class="mb-3 row">
        <label for="nickName" class="col-sm-3 col-form-label form-label">NickName</label>
        <div class="col-sm-9">
            <input type="text" class="form-control" id="nickName" placeholder="Enter your NickName">
        </div>
    </div>

    <div class="mb-3 row">
        <label for="avatar" class="col-sm-3 col-form-label form-label">Upload avatar</label>
        <div class="col-sm-9">
            <div class="avatar-container border mb-2 w-25" >
                <img src="jpg.jpg" alt="Avatar" class="img-fluid">
            </div>
            <input class="form-control" type="file" id="avatar">
        </div>
    </div>

    <div class="row">
        <div class="col-sm-9 offset-sm-3">
            <button type="submit" class="btn btn-outline-success">Save</button>
        </div>
    </div>
</form>
{% endblock %}