{% extends 'layouts/base.html' %}

{% block style%}
<style>
    .badge {
        text-decoration: none;
        font-weight: normal;
    }
</style>
{% endblock %}

{% block navbar %}
<div class="d-flex gap-1">
    <div class="me-2" style="height: 60px; width: auto">
        <img src="{{ auth_user.avatar }}" alt="Avatar" class=" rounded-1 img-fluid h-100 w-100 object-fit-cover">
    </div>
    <div>
        <div>
            {{ auth_user.username }}
        </div>
        <a href="{% url 'settings' %}">Settings</a>
        <a href="{% url 'signup' %}">Logout</a>
    </div>
</div>
{% endblock %}

{% block page_header %}
<div class="d-flex gap-3 mb-3 align-items-center">
    <h1>Tag: {{ tag.name }}</h1>
</div>
{% endblock %}

{% block content %}
{% include 'layouts/questions.html' with questions=page_obj %}
{% include 'layouts/pagination.html' with page_obj=page_obj %}
{% endblock %}