{% load static %}

<div class="questions d-flex flex-column gap-3">
    {% for question in page_obj %}
    <div class="question-card card w-100" style="width: 18rem;" data-question-id="{{question.id}}" data-is-liked="{{ question.is_liked }}">
        <div class="card-body">
            <div class="row">
                <div class="col-2">
                    <div class="mb-2" style="height: 130px">
                        <img src="{{ question.author.profile.avatar.url }}" alt="{{ Avatar }}" class="rounded-1 img-fluid h-100 w-100 object-fit-cover">
                    </div>

                     <button class="like-button">
                        <div class="heart"></div>
                        <div class="like-count">{{ question.like_count }}</div>
                     </button>

                </div>
                <div class="col-10">
                    <h5 class="card-title">{{ question.title }}</h5>
                    <p class="card-text">{{ question.content }}</p>

                    <div class="d-flex gap-5">
                        <a href="{% url 'question' question.id %}" class="card-link">Answer ({{ question.answers.count }})</a>
                        <div>
                            Tags:
                            {% for tag in question.tags.all %}
                            <a href="{% url 'tag' tag.id %}" class="card-link">{{ tag.name }}</a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
